<div class="grid-container">
  <div class="grid-header">
    <div>
        id
    </div>
    <div>
        int
    </div>
    <div>
        float
    </div>
    <div>
        color
    </div>
    <div>
        child
    </div>
  </div>
  <div class="grid-body">
    <ng-container *ngFor="let row of rows">
      <div class="row-container">
        <div>{{ row.id }}</div>
        <div>{{ row.int }}</div>
        <div>{{ row.formatFloat() }}</div>
        <div>
            <span [style.background-color]="row.color">
                {{ row.color }}
            </span>
        </div>
        <div>
          <div class="nested-grid">
            <div class="nested-header">
              <div>id</div>
              <div>color</div>
            </div>
            <div class="nested-body">
              <div>{{ row.child.id }}</div>
              <div>
                <span [style.background-color]="row.child.color">
                    {{ row.child.color }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>