.settings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .value-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      width: 100px;
      text-align: center;

      &.long-input {
        width: 300px;
      }

      &.invalid {
        border: 1px solid red;
      }
    }
  }
}
